{% extends 'Airport_Code_Base.html' %}

{% block content %}
<style> 
    .Airport_Code { 
        color: blue
        } 
</style>
<br>
<h1>Search for Airport Code by City</h1>
<br>

    <form class="form-inline my-2 my-lg-0" method="POST">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="user_search">
      <button class="btn btn-light btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>  
    <br>
    
    {% if Code %}  
        <table class="table table-bordered"> 
        <tr class="table-secondary">
            <td><center><a href="{% url 'Airport_Code_Index' %}"></a><h4>The IATA <strong>Airport Code</strong> for {{ City }} is:</h4></center>
                <h1 class="Airport_Code"><center>{{ Code }}</h1></center></div>
            </td>
        </tr>
        </table>
        {% elif Error %}
            <table class="table table-bordered"> 
                    <tr class="table-secondary">
                        <td><center><a href="{% url 'Airport_Code_Index' %}"></a><h4>{{ Error }}</h4></center></td>
                    </tr>
            </table> 
    {% endif %}


{% endblock %}